.photos {
   display: flex;
    flex-wrap: wrap;
}

.photo {
  width: 250px;
  padding: 0 12px;
  text-align: center;
  h3 {
    min-height: 80px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}